@import '~/node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
$info: rgba(100, 100, 200, 1);
$info-light: lighten($info, 10%);
$giant: 5rem;
$huge: 4rem;
@import '~/assets/scss/variables/navbar-variables.scss';
@import '~/assets/scss/variables/box-variables.scss';
// can use color variables, etc here
@import 'bulma';
$background-image-urls: (
	'#frame-one .zoom-background': '~assets/img/sizes/Ultra_Care-10-1024.jpg',
	'#services-header': '~assets/img/sizes/Ultra_Care-3-1024.jpg',
	'#mission': '~assets/img/sizes/Ultra_Care-5-1024.jpg'
);

@each $selector, $url in $background-image-urls {
	.no-webp #{$selector},
	.webp #{$selector} {
		background-image: url($url);
	}
	// .webp #{$selector} {
	// 	background-image: url($url+'.webp');
	// }
}
.zoomed {
	transform: scale(1.1) !important;
}
.zoom-background {
	background-color: $info;
	transition: transform 8s ease 0s;
	transform: scale(1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-size: cover;
	background-size: 130%;
	background-position: 0% 40%;
	@include mobile {
		background-size: auto 120%;
		background-position: 51% 70%;
	}
	background-repeat: no-repeat;
}
#frame-one {
	&.hero {
		height: 100vh;
		h1 {
			@extend .is-size-2;
			line-height: 1;
			margin-bottom: 0;
			@include tablet {
				font-size: $giant !important;
			}
		}
		h2 {
			margin-top: 0;
			@extend .is-size-3;
			// font-family: 'DM Serif Display';
			font-weight: 400;
			margin-bottom: 1rem;
		}
		.background-modifier {
			@include tablet {
				background: linear-gradient(to right, rgba($info, 0.6), rgba($info, 0));
			}
			@include mobile {
				background: linear-gradient(to top, rgba($info, 1), rgba($info, 0));
			}
		}
		.hero-body {
			@include tablet {
				padding: 3rem 1rem 3rem 3rem;
			}
			@include mobile {
				align-items: flex-end;
				padding: 3rem 1rem 3rem 3rem;
				.container {
					background-color: $info;
					padding: 1rem;
				}
			}
		}
		.button {
			margin-bottom: 0.5rem;
		}
	}
}
#frame-two {
	@include tablet {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	background-color: rgba($info, 0.05);
	h1 {
		@include mobile {
			font-size: 2rem;
		}
		@include tablet {
			font-size: 3rem;
		}
		@include desktop {
			font-size: $huge;
			line-height: 1.1;
		}
	}
	.columns > div:last-child {
		@include tablet {
			padding-left: 3rem;
		}
	}
	.inner {
		@include tablet {
			margin: auto;
			max-width: 700px;
		}
	}
	.button {
		@include tablet {
			margin-top: 3rem;
		}
		@include mobile {
			margin-top: 1rem;
		}
		background-color: $info;
		color: $white;
	}
}
.has-overflow-hidden {
	overflow: hidden;
}
.has-top-margin {
	margin-top: 1.5rem;
}
.has-background-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.background-modifier {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#services-header .background-modifier {
	background-color: rgba(0, 0, 0, 0.2);
}

#mission {
	background-position: 67% 50%;
	@include tablet {
		padding: 9rem 1.5rem 27rem 1.5rem;
	}
	@include mobile {
		padding: 30rem 1.5rem 6rem 1.5rem;
	}
	#header {
		position: absolute;
		top: 3rem;
		left: 3rem;
	}
	.background-modifier {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.content {
		@include tablet {
			padding: 5rem 3rem;
		}
		box-shadow: 5px 5px 20px $light;
	}
}
#services .service-box {
	background-color: $info-light;
	font-weight: 700;
}
#services {
	background-color: $info;
	@include tablet {
		h1 {
			font-size: $giant;
		}
	}
	#services-list {
		margin: auto;
		max-width: 700px;
	}
}
#locations.section {
	@include tablet {
		padding: 5rem 10rem;
	}
	.columns.is-reversed-mobile {
		@include mobile {
			display: flex;
			flex-direction: column-reverse;
			.column {
				width: 100%;
			}
		}
	}
}
#faqs {
	@include tablet {
		max-width: 600px;
		margin: auto;
	}
}
.navbar-brand .icon {
	margin-right: 1rem;
}
h1,
.content h1 {
	font-family: 'DM Serif Display';
	font-weight: 400;
}
.navbar-burger:hover,
.burger:hover {
	color: $white;
}
.twitter-timeline {
	width: 100vw !important;
}
footer > .columns {
	@include tablet {
		max-width: 600px;
		margin: auto;
	}
}
