@import '~/node_modules/bulma/sass/utilities/_all.sass';
$info: rgba(100, 100, 200, 0.9);
$info-light: lighten($info, 10%);
@import '~/assets/scss/variables/navbar-variables.scss';
// can use color variables, etc here
@import 'bulma';
$background-image-urls: (
	'#frame-one .zoom-background': '~assets/img/Ultra_Care-10.jpg',
	'#services': '~assets/img/Ultra_Care-3.jpg'
);

@each $selector, $url in $background-image-urls {
	.no-webp #{$selector} {
		background-image: url($url);
	}
	.webp #{$selector} {
		background-image: url($url+'.webp');
	}
}
.zoomed {
	transform: scale(1.1) !important;
}
.zoom-background {
	background-color: $info;
	transition: transform 8s ease 0s;
	transform: scale(1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
#frame-one.hero {
	height: 100vh;
}
.has-overflow-hidden {
	overflow: hidden;
}
.has-background-image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
